<html lang="en">
  <%- include('includes/header') %>

    <div class="parent1">
      <div class="child1-2"></div>

      <div class="child2-3">
        <div class="grandchild">
          <h1 class="text-white">Build your own bitcoin transaction.</h2>
          <h2>Why?</h2>
          <p class="text-primary">Because it's just way cooler to do it yourself.</p>
          <form action="/home" method="GET">
            <button class="btn btn-light">START BUILDING</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include('includes/footer') %>

</html>
